export(DFA,CANCOR,normality,homogeneity,linearity,plot_linearity)

importFrom("stats", "aggregate", "anova", "bartlett.test",
           "cor","cor.test", "cov", "fligner.test", "lm", "manova",
           "na.omit",  "pchisq", "pf", "pnorm", "predict", "sd", "t.test", "pt",
           "qf", "qt", "qtukey", "var")

importFrom("MASS", "lda")

importFrom("MVN", "mvn")

importFrom("graphics", "matplot", "axis", "legend", "title", "barplot", "box", "par", 
           "layout", "abline", "lines", "plot")

importFrom("stats", "lowess")