export(DFA,CANCOR,GROUP.DIFFS,NORMALITY,HOMOGENEITY,LINEARITY,PLOT_LINEARITY)

importFrom("stats", "aggregate", "anova", "bartlett.test",
           "cor","cor.test", "cov", "fligner.test", "lm", "lowess", "manova",
           "na.omit",  "pchisq", "pf", "pnorm", "predict", "sd", "t.test", 
           "pt", "qf", "qt", "qtukey", "var")

importFrom("graphics", "matplot", "axis", "legend", "title", "barplot", "box",  
           "par", "layout", "abline", "lines", "plot")

importFrom("MVN", "mvn")

importFrom("BayesFactor", "ttest.tstat", "anovaBF","extractBF")

importFrom(utils, packageDescription)

